<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Sending' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="{ 'no-margin-bottom': !isValidEmail() }">
  <ion-list>
    <div style="margin-top: 40px; justify-content:center; text-align: center">
      <!-- <button  tappable ion-button> -->
      <!-- <img (click)="openInBrowser()" class="sending-img" src="assets/img/icon-tx-sent-outline.svg" /> -->
      <img (click)="openInBrowser()" src="assets/img/icon-tx-sent-outline.svg" />
      <!-- </button> -->
      <div class="header-container" style="justify-content: center">
        <!-- <div class="gift-card-title">{{ invoiceName }}</div> -->
        <div class="amount-label">
          <div class="amount">
            <div *ngIf="wallet">
              <strong>{{ coinAmount }}</strong>
              <span class="amount-coin">{{ wallet.coin | uppercase }}</span>
            </div>
            <div *ngIf="!wallet">
              {{ amount }} <span class="amount-coin">{{ currency }}</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="totalAmount && !checkIfCoin()" class="alternative" style="justify-content: center">
        <span *ngIf="onlyIntegers">
          {{ totalAmount | number: '1.0-0' }}
        </span>
        <span *ngIf="!onlyIntegers">
          {{ totalAmount | number: '1.2-2' }}
        </span>
        {{ currency }}
      </div>
      <div *ngIf="wallet && checkIfCoin()" class="alternative" style="justify-content: center">
        {{ coinAmountSat | satToFiat: wallet.coin }}
      </div>
    </div>

    <div style="margin: auto; justify-content: center;">
      <!-- <ion-item-divider>{{ 'Email' | translate }}</ion-item-divider> -->
      <ion-item>
        <ion-input placeholder="{{'Email' | translate}}" [(ngModel)]="email" name="email" type="email"
          [disabled]="!!(this.buyerProvidedEmail || this.merchantProvidedEmail)">
        </ion-input>
      </ion-item>
    </div>

    <label-tip *ngIf="!isValidEmail()" type="danger">
      <span label-tip-title translate><strong>A refund email is required.</strong></span>
      <div label-tip-body translate>
        If there is an issue with this payment, or a refund needs to be made, we will contact you at this address.<br />
      </div>
      <a (click)="openPrivacyPolicy()" translate>View Privacy Policy</a>
    </label-tip>

    <ion-item-group class="info">
      <div *ngIf="totalAmountStr && wallet">
        <ion-item-divider><strong>{{ 'Summary' | translate }}</strong></ion-item-divider>
        <ion-item>
          <ion-note ion-note translate>Exchange Rate Expires:</ion-note>
          <span *ngIf="!paymentExpired" item-end>{{
              remainingTimeStr
            }}</span>
          <span *ngIf="paymentExpired" [ngStyle]="{ color: 'red' }" item-end>{{
              'Expired' | translate
            }}</span>
        </ion-item>
        <ion-item>
          <ion-note>{{ 'Sending to' | translate }}</ion-note>
          <span item-end>
            {{ invoiceName }}
          </span>
        </ion-item>
        <ion-item>
          <ion-note>{{ 'Network cost' | translate }}</ion-note>
          <span item-end>
            {{ networkFeeSat | satToUnit: wallet.coin }}
          </span>
        </ion-item>
        <ion-item>
          <ion-note>{{ 'Miner fee' | translate }}</ion-note>
          <span item-end>
            {{ invoiceFeeSat | satToUnit: wallet.coin }}
          </span>
        </ion-item>

        <button ion-item detail-none (click)="showWallets()" class="wallets-list">
          <ion-note>{{ 'Sending From' | translate }}</ion-note>
          <div class="wallet" item-end>
            <ion-icon>
              <img *ngIf="network == 'testnet'" [ngStyle]="{ 'background-color': wallet && wallet.color }"
                src="assets/img/icon-wallet-testnet.svg" class="icon-wallet" />
              <img *ngIf="network != 'testnet'" [ngStyle]="{ 'background-color': wallet && wallet.color }"
                src="assets/img/icon-wallet.svg" class="icon-wallet" />
            </ion-icon>
            <div style="margin-right: 10px">{{ wallet ? wallet.name : 'Select a wallet' }}</div>
            <div class="last-item" item-end>
              <button ion-button clear color="grey" icon-only>
                <ion-icon *ngIf="!isOpenSelector" name="ios-arrow-down-outline"></ion-icon>
                <ion-icon *ngIf="isOpenSelector" name="ios-arrow-up-outline"></ion-icon>
              </button>
            </div>
          </div>
        </button>

        <ion-item>
          <span>{{ 'TOTAL' | translate }}</span>
          <span style="text-align: right" item-end>
            <div *ngIf="wallet">
              <strong>{{ coinAmount }}</strong>
              <span class="amount-coin">{{ wallet.coin | uppercase }}</span>
            </div>
            <div *ngIf="!wallet">
              {{ amount }} <span class="amount-coin">{{ currency }}</span>
            </div>
            <span *ngIf="totalAmount">
              <div *ngIf="totalAmount && !checkIfCoin()" class="alternative">
                <span *ngIf="onlyIntegers">
                  {{ totalAmount | number: '1.0-0' }}
                </span>
                <span *ngIf="!onlyIntegers">
                  {{ totalAmount | number: '1.2-2' }}
                </span>
                {{ currency }}
              </div>
              <div *ngIf="wallet && checkIfCoin()" class="alternative">
                {{ coinAmountSat | satToFiat: wallet.coin }}
              </div>
            </span>
          </span>
        </ion-item>
      </div>

      <!-- <ion-item class="item-fee" [attr.detail-none]="usingMerchantFee ? '' : null"
      [ngClass]="{'btn-opacity': usingMerchantFee}">
      <div class="fee-title">
        <span translate>This payment requires a miner fee of:</span> <br />
      </div>
      <div class="fee-loading" *ngIf="!wallet">
        <div>...</div>
        <div>...</div>
      </div>
      <div *ngIf="wallet">
        <span class="fee-amount">
          {{ invoiceFeeSat | satToUnit: wallet.coin }}
        </span>
        <div *ngIf="!checkIfCoin()" class="fee-details">
          <span *ngIf="onlyIntegers"> {{ invoiceFee | number: '1.0-0' }} </span>
          <span *ngIf="!onlyIntegers">
            {{ invoiceFee | number: '1.2-2' }}
          </span>
          {{ currency }}
        </div>
        <div *ngIf="checkIfCoin()" class="fee-details">
          {{ invoiceFeeSat | satToUnit: wallet.coin }}
        </div>
      </div>
    </ion-item> -->

    </ion-item-group>
    <ion-item-divider></ion-item-divider>
  </ion-list>
</ion-content>

<ion-footer>
  <page-slide-to-accept #slideButton *ngIf="isCordova" [disabled]="
      !(wallet && totalAmountStr && isValidEmail() && !paymentExpired)
    " buttonText="{{'Slide to Pay' | translate}}" (slideDone)="buyConfirm()" [ngClass]="{
      'slide-confirm-fast slide-confirm-down':
        hideSlideButton || !isValidEmail(),
      'slide-confirm-slow': !hideSlideButton && isValidEmail()
    }"></page-slide-to-accept>
  <ion-toolbar *ngIf="!isCordova">
    <button ion-button full class="button-footer" (click)="buyConfirm()" [disabled]="
        !(wallet && totalAmountStr && isValidEmail() && !paymentExpired)
      ">
      {{ 'Confirm
      purchase' | translate }}
    </button>
  </ion-toolbar>
</ion-footer>